<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/codeigniter4/framework/system/Test/bootstrap.php"
         cacheDirectory="build/.phpunit.cache"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         beStrictAboutOutputDuringTests="true">
    <testsuites>
        <testsuite name="CIAC">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">app</directory>
        </include>
        <exclude>
            <directory>app/Database/Migrations</directory>
            <directory>app/Database/Seeds</directory>
            <file>app/Config/Routes.php</file>
        </exclude>
    </source>

    <php>
        <const name="HOMEPATH" value="./"/>
        <server name="app.baseURL" value="http://localhost/"/>
        <server name="app.forceGlobalSecureRequests" value="false"/>
        <server name="CI_ENVIRONMENT" value="testing"/>
        <env name="CI_ENVIRONMENT" value="testing" force="true"/>
    </php>
</phpunit>
